<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                    class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <h1>Drogueria RDS</h1>
                <br>
                <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                            <asl-google-signin-button type='icon' size='large'></asl-google-signin-button><h3>Inicia Sesión</h3>
                </div>

                <div class="text-center text-lg-start mt-4 pt-2">
                    <p class="small fw-bold mt-2 pt-1 mb-0">No tienes una cuenta de Google? <a
                            href="https://accounts.google.com/lifecycle/steps/signup/name?continue=https://www.google.com/search?q%3Dgoogle%26rlz%3D1C1ONGR_esCO1082CO1082%26oq%3Dgoogle%26gs_lcrp%3DEgZjaHJvbWUyBggAEEUYOTIGCAEQRRhBMgYIAhBFGDwyBggDEEUYPDIGCAQQRRhBMgYIBRBFGEEyBggGEEUYPDIGCAcQRRg80gEHNzAyajBqMagCALACAA%26sourceid%3Dchrome%26ie%3DUTF-8&dsh=S1997127960:1700616333405868&ec=GAZAAQ&flowEntry=SignUp&flowName=GlifWebSignIn&hl=es-419&ifkv=ASKXGp2AqYKgYODpxkZxadCsXdG5GYpeoep843NZZJ8u6EK6J1BmWTNm8Oj5so1rTHOReiXDOge87Q&theme=glif&TL=AHNYTITYmH3VTxHyb8Ym4zDTw2hd3t4L7FVn3kJFL4s7EF5epf65zsEgbx4igHDT"
                            class="link-danger">Registrate</a></p>
                </div>

            </div>
        </div>
    </div>

</section>